<h1>Teams</h1>
<div class="content"> 
    <input type="text" ng-model="search" placeholder="Search Owners" />    
        <table>
            <tr>
                <th>Owner</th>
                <th>Golfer 1</th>
                <th>Golfer 2</th>
                <th>Golfer 3</th>
                <th>Golfer 4</th>
                <th>Golfer 5</th>
                <th>Golfer 6</th>
                <th>Golfer 7</th>
                <th>Golfer 8</th>
            </tr>
            <tr ng-repeat="team in objTeams">
                <td>{{team.owner}}</td>
                <td>{{team.gone}}</td>
                <td>{{team.gtwo}}</td>
                <td>{{team.gthree}}</td>
                <td>{{team.gfour}}</td>
                <td>{{team.gfive}}</td>
                <td>{{team.gsix}}</td>
                <td>{{team.gseven}}</td>
                <td>{{team.geight}}</td>
            </tr>
        </table>  
</div>