<h1>Teams</h1>
<div class="content"> 
    <div>
        <button ng-click="weekSelect = ''">Show All</button>
        <button ng-click="weekSelect = '4'" ng-show="false">Week 4</button>        
        <button ng-click="weekSelect = '3'">Week 3</button>
        <button ng-click="weekSelect = '2'">Week 2</button>
        <button ng-click="weekSelect = '1'">Week 1</button> 
    </div>    
        <table>
            <tr>
                <th>Owner</th>
                <th>Week</th>
                <th>Golfer 1</th>
                <th>Golfer 2</th>
                <th>Golfer 3</th>
                <th>Golfer 4</th>
                <th>Golfer 5</th>
                <th>Golfer 6</th>
                <th>Golfer 7</th>
                <th>Golfer 8</th>
            </tr>
            <tr ng-repeat="team in objTeams | orderBy: ['-week', 'owner'] | filter: weekSelect">
                <td>{{team.owner}}</td>
                <td>{{team.week}}</td>
                <td>{{team.gone}}</td>
                <td>{{team.gtwo}}</td>
                <td>{{team.gthree}}</td>
                <td>{{team.gfour}}</td>
                <td>{{team.gfive}}</td>
                <td>{{team.gsix}}</td>
                <td>{{team.gseven}}</td>
                <td>{{team.geight}}</td>
            </tr>
        </table>  
</div>