<h1>Tournaments</h1>
<div class="content"> 
    <table>
        <tr>
            <th>TournamentID</th>
            <th>Tournament</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Course</th>
            <th>Yardage</th>
            <th>Par</th>
            <th>Purse</th>
        </tr>
        <tr ng-repeat="tournament in tournaments | orderBy: 'startDate' " >
            <td>{{tournament.id}}</td>
            <td>{{tournament.tournament}}</td>
            <td>{{tournament.startDate | date: "MM/dd/yyyy"}}</td>
            <td>{{tournament.endDate | date: "MM/dd/yyyy"}}</td>
            <td>{{tournament.course}}</td>
            <td>{{tournament.yardage}}</td>
            <td>{{tournament.par}}</td>
            <td>{{tournament.purse | currency}}</td>
        </tr>
    </table>         
</div>